{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10"
        },
        "loose": true
      },
      "preset-env"
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      { "loose": true },
      "class-properties"
    ]
  ]
}
